<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    {% load static %}
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./AdminPatientDetailsExportReady.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap"
    />
  </head>
  <body>
    <div class="admin-patient-details-export">
      <div class="rectangle-group">
        <div class="group-item"></div>
        <div class="group-inner"></div>
        <div class="group-child1"></div>
      </div>
      <div class="side-bar-parent2">
        <nav class="side-bar7">
          <div class="logo-parent4">
            <button class="logo9">
              <img class="icon10" alt="" src="./public/logo1@2x.png" /><a
                class="wecare9"
                >WeCare</a
              >
            </button>
            <div class="nav1">
              <button class="dashboard9">Dashboard</button
              ><button class="dashboard9">Scan</button
              ><button class="patient-data-wrapper">
                <div class="patient-data3">Patient Data</div></button
              ><button class="dashboard9">Doctor Data</button
              ><button class="dashboard9">Add Doctor</button>
            </div>
          </div>
        </nav>
        <div class="right-main4">
          <div class="contents">
            <p class="patient-data4">Patient Data</p>
            <div class="contents-inside">
              <div class="demo-1">
                <div class="john-doe-parent">
                  <p class="john-doe1">John Doe</p>
                  <p class="symptoms4">Symptoms</p>
                  <button class="assign-button">
                    <div class="assign-button-child"></div>
                    <div class="view-data">View Data</div>
                  </button>
                </div>
              </div>
              <div class="details-open-parent">
                <div class="details-open">
                  <p class="john-doe1">John Doe</p>
                  <img
                    class="details-open-child"
                    alt=""
                    src="./public/arrow-11@2x.png"
                  />
                </div>
                <div class="open-content1">
                  <div class="info">
                    <div class="date-and-time">
                      <p class="date-time">Date & Time of Visit:</p>
                      <p class="th-march-20231">12th March, 2023</p>
                    </div>
                    <div class="doc-visited">
                      <p class="doctor-visited1">Doctor Visited:</p>
                      <p class="dr-rushikesh-borakhede1">
                        Dr. Rushikesh Borakhede
                      </p>
                    </div>
                    <div class="room-no">
                      <p class="symptoms6">Symptoms:</p>
                      <p class="diarrhoea1">Diarrhoea</p>
                    </div>
                    <div class="room-no">
                      <p class="symptoms6">Room No:</p>
                      <p class="diarrhoea1">1234</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
