<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./AdminDashboardAutolayoutDoneLocofied.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap"
    />
  </head>
  <body>
    <div class="admin-dashboard-autolayout">
      <div class="side-bar-container">
        <nav class="side-bar2">
          <div class="side-bar-inner"></div>
          <button class="dashboard3">Dashboard</button
          ><button class="scan">Scan</button
          ><button class="patient-data">Patient Data</button
          ><button class="doctor-data">Doctor Data</button
          ><button class="scan1">Scan</button>
        </nav>
        <div class="frame-wrapper1">
          <div class="frame-parent3">
            <div class="dashboard-group">
              <p class="dashboard4">Dashboard</p>
              <p class="hey-admin">Hey admin!</p>
            </div>
            <div class="frame-parent4">
              <div class="frame-parent5">
                <div class="doctors-available-parent">
                  <div class="doctors-available">Doctors Available</div>
                  <p class="p2">9</p>
                </div>
                <div class="patients-in-queue-parent">
                  <p class="patients-in-queue">Patients in Queue</p>
                  <p class="p2">9</p>
                </div>
                <div class="doctor-status-parent">
                  <p class="patients-in-queue">Doctor Status</p>
                  <p class="p2">9</p>
                </div>
              </div>
              <div class="patient-details">
                <h3 class="patient-details1">Patient Details</h3>
                <div class="patient-details2">
                  <div class="john-doe-parent">
                    <p class="john-doe">John Doe</p>
                    <p class="john-doe">Symptoms</p>
                    <div class="frame-parent6">
                      <button class="assign-doctor-wrapper">
                        <div class="assign-doctor">Assign Doctor</div></button
                      ><button class="assign-room-wrapper">
                        <div class="assign-doctor">Assign Room</div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
