<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    {% load static %}
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./AdminDoctorDataExportReady.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap"
    />
  </head>
  <body>
    <div class="admin-doctor-data-export-rea">
      <div class="side-bar-parent1">
        <nav class="side-bar5">
          <nav class="frame-nav">
            <button class="logo6">
              <img class="icon7" alt="" src="./public/logo1@2x.png" /><a
                class="wecare6"
                >WeCare</a
              >
            </button>
            <div class="dashboard-parent1">
              <button class="dashboard6">Dashboard</button
              ><button class="dashboard6">Scan</button
              ><button class="dashboard6">Patient Data</button
              ><button class="doctor-data-wrapper">
                <div class="doctor-data1">Doctor Data</div></button
              ><button class="dashboard6">Add Doctor</button>
            </div>
          </nav>
        </nav>
        <div class="right-main2">
          <div class="content4">
            <p class="doctor-data2">Doctor Data</p>
            <div class="content-main">
              <div class="dr-john-doe-parent">
                <p class="dr-john-doe">Dr. John Doe</p>
                <img class="frame-child" alt="" src="./public/arrow-1@2x.png" />
              </div>
              <div class="content-main-inner">
                <div class="frame-group">
                  <div class="phone-no-parent">
                    <p class="phone-no">Phone No. :</p>
                    <p class="dr-john-doe">9998887775</p>
                  </div>
                  <div class="email-parent">
                    <p class="phone-no">Email:</p>
                    <div class="jdgmailcom">jd@gmail.com</div>
                  </div>
                  <div class="email-parent">
                    <p class="phone-no">Patients Diagnosed:</p>
                    <p class="dr-john-doe">9</p>
                  </div>
                  <div class="email-parent">
                    <p class="phone-no">Patients Pending:</p>
                    <div class="jdgmailcom">9</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
