<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    {% load static %}
    <link rel="stylesheet" href="./AppointmentAutolayoutDoneLocofied.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap"
    />
  </head>
  <body>
    <div class="appointment-autolayout-done">
      <div class="appointment-autolayout-done-inner">
        <div class="content-parent">
          <div class="content6">
            <div class="head1">
              <b class="book-appointment8">Book Appointment</b>
              <div class="click-on-submit1">
                Click on Submit to book appointment.
              </div>
            </div>
            <div class="inputs1">
              <input
                class="inputs-inner"
                type="text"
                placeholder="Enter your preferred time slot"
                required
              /><input
                class="frame-input"
                type="text"
                placeholder="Describe your symptoms"
                required
              />
            </div>
            <div class="buttons3">
              <button class="scan-face1">
                <div class="scan-patient-face-container1">
                  <span class="scan-patient-face1">Scan Patient Face</span
                  ><span class="span1">*</span>
                </div></button
              ><button class="submit2"><b class="submit3">Submit</b></button>
            </div>
          </div>
          <img class="icon11" alt="" src="./public/3914790-1@2x.png" />
        </div>
      </div>
    </div>
  </body>
</html>
