<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment</title>
</head>
<body>
    <form method="post" action="/appointment/"> {% csrf_token %}
        <input type="datetime-local" name="startTime" id="">
        <input type="datetime-local" name="endTime" id="">
        <input type="text" name="status">
        <input type="text" name="symtopms">

        <input type="submit" value="Make appointment">
        <input type="reset" name="" id="" value="Clear">
    </form>
</body>
</html>