<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link
      rel="stylesheet"
      href="./CustomerDashboardAutolayoutDoneLocofied.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap"
    />
  </head>
  <body>
    <div class="customer-dashboard-autolayo">
      <div class="rectangle-parent">
        <div class="group-child"></div>
        <div class="group-item"></div>
        <div class="group-inner"></div>
      </div>
      <div class="side-bar-parent">
        <nav class="side-bar">
          <button class="side-bar-child"></button
          ><button class="dashboard">Dashboard</button
          ><button class="profile">Profile</button
          ><button class="history">History</button>
        </nav>
        <div class="frame-wrapper">
          <div class="dashboard-parent">
            <p class="dashboard1">Dashboard</p>
            <p class="hey-neel-mistry">Hey Neel Mistry!</p>
            <div class="frame-container">
              <div class="frame-parent">
                <div class="appointment-information-parent">
                  <p class="appointment-information">Appointment Information</p>
                  <div class="group-parent">
                    <div class="name-parent">
                      <div class="name">Name:</div>
                      <p class="neel-mistry">Neel Mistry</p>
                    </div>
                    <div class="symptoms-parent">
                      <p class="symptoms">Symptoms:</p>
                      <p class="fever">Fever</p>
                    </div>
                    <div class="time-slot-parent">
                      <p class="symptoms">Time Slot:</p>
                      <p class="pm-300">2:30 p.m. - 3:00 p.m.</p>
                    </div>
                    <div class="doctor-assigned-parent">
                      <p class="symptoms">Doctor Assigned:</p>
                      <div class="mr-rushikesh-borakhede">
                        Mr. Rushikesh Borakhede
                      </div>
                    </div>
                    <div class="token-number-parent">
                      <div class="name">Token Number:</div>
                      <div class="div">123</div>
                    </div>
                  </div>
                </div>
                <img
                  class="frame-child"
                  alt=""
                  src="./public/ellipse-2@2x.png"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
