<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/HomepageExportReady.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap"
    />
  </head>
  <body>
    <div class="homepage-export-ready">
      <div class="faq">
        <div class="faq-child"></div>
        <div class="faq-item"></div>
        <b class="b">?</b
        ><b class="frequently-asked-questions-container"
          ><p class="frequently">Frequently</p>
          <p class="frequently">Asked</p>
          <p class="frequently">Questions</p></b
        >
        <div class="faq-inner"></div>
        <div class="rectangle-div"></div>
        <div class="faq-child1"></div>
        <div class="how-can-i">How can I make an appointment?</div>
        <div class="does-the-clinic">Does the clinic have parking?</div>
        <div class="can-we-remove">Can we remove reports?</div>
        <img
          class="more-than-icon"
          alt=""
          src="/static/public/more-than@2x.png"
        /><img
          class="more-than-icon1"
          alt=""
          src="/static/public/more-than1@2x.png"
        /><img class="more-than-icon2" alt="" src="/static/public/more-than@2x.png" />
        <div class="lorem-ipsum-dolor-container">
          <p class="frequently">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
            vestibulum lacinia turpis, ut facilisis sapien lacinia eget. Cras
            interdum ligula elit, maximus molestie ex placerat non. Donec nec
            venenatis tortor. In nibh magna, lobortis in urna vitae.
          </p>
        </div>
      </div>
      <div class="homepage-export-ready-child"></div>
      <img
        class="homepage-export-ready-item"
        alt=""
        src="/static/public/design-1@2x.png"
      />
      <div class="homepage-export-ready-inner"></div>
      <img
        class="pexels-daniel-frank-305568-1-icon"
        alt=""
        src="/static/public/bg-img@2x.png"
      />
      <header class="header">
        <div class="title">
          <div class="title1">
            <p class="professional-health-care-container">
              <span class="professional">Professional </span
              ><span class="professional">Health Care </span>
            </p>
            <p class="we-care-for">We care for the human inside.</p>
          </div>
          <button class="button">
            <b class="register-now">Register Now!</b>
          </button>
        </div>
        <img
          class="a3e747e-35f5-4f32-98d7-1f7dfca-icon"
          alt=""
          src="/static/public/doc-img@2x.png"
        />
      </header>
      <div class="homepage-export-ready-child1"></div>
      <img class="friend-1-icon" alt="" src="/static/public/friend-1@2x.png" />
      <nav class="nav-bar">
        <div class="logo8">
          <img class="icon9" alt="" src="/static/public/logo2@2x.png" /><a
            class="wecare8"
            >WeCare</a
          >
        </div>
        <div class="nav-buttons">
          <button class="home1">Home</button
          ><button class="home1">Departments</button
          ><button class="home1">Contact Us</button
          ><button class="home1">Log in</button>
        </div>
      </nav>
      <footer class="footer">
        <div class="details">
          <div class="address">
            <img
              class="location-on-icon"
              alt=""
              src="/static/public/location@2x.png"
            />
            <div class="address-parent">
              <p class="work-hours">Address</p>
              <p class="baker-street">221, Baker Street</p>
            </div>
          </div>
          <div class="address">
            <img class="clock-icon" alt="" src="/static/public/clock@2x.png" />
            <div class="address-parent">
              <p class="work-hours">Work Hours</p>
              <p class="baker-street">9:00 a.m. - 12:00a.m.</p>
            </div>
          </div>
          <div class="address">
            <img class="mail-icon" alt="" src="/static/public/mail.svg" />
            <div class="address-parent">
              <p class="work-hours">Email</p>
              <p class="baker-street">wecare@gmail.com</p>
            </div>
          </div>
          <div class="address">
            <img
              class="rotary-dial-telephone"
              alt=""
              src="/static/public/rotary-dial-telephone@2x.png"
            />
            <div class="address-parent">
              <p class="work-hours">Telephone</p>
              <p class="baker-street">02228940250</p>
            </div>
          </div>
        </div>
      </footer>
      <section class="frame-section" id="dept">
        <div class="departments-parent">
          <p class="departments2">Departments</p>
          <p class="we-offer-assistance">
            We offer assistance in the following fields
          </p>
        </div>
        <div class="frame-wrapper">
          <div class="frame-parent1">
            <div class="cardio-parent">
              <div class="cardio">
                <img
                  class="heart-with-pulse"
                  alt=""
                  src="/static/public/heart-with-pulse@2x.png"
                />
                <p class="work-hours">Cardiology</p>
                <p class="cardiology-is-a">
                  Cardiology is a branch of medicine that deals with disorders
                  of the heart and the cardiovascular system. The field includes
                  medical diagnosis and treatment of congenital heart defects.
                </p>
              </div>
              <div class="lab">
                <img
                  class="heart-with-pulse"
                  alt=""
                  src="/static/public/test-tube@2x.png"
                />
                <p class="work-hours">Pathology</p>
                <p class="pathology-is-the">
                  Pathology is the medical discipline that provides diagnostic
                  information to patients and clinicians. It impacts nearly all
                  aspects of patient care.
                </p>
              </div>
            </div>
            <div class="cardio-parent">
              <div class="pediatrician">
                <img
                  class="heart-with-pulse"
                  alt=""
                  src="/static/public/stethoscope@2x.png"
                />
                <p class="work-hours">Pediatrician</p>
                <p class="cardiology-is-a">
                  A Pediatrician or Child Specialist Doctor understands that
                  children's development is foremost important in the context of
                  the family.
                </p>
              </div>
              <div class="pediatrician">
                <img
                  class="heart-with-pulse"
                  alt=""
                  src="/static/public/tooth-cracked@2x.png"
                />
                <p class="work-hours">Dentistry</p>
                <p class="cardiology-is-a">
                  Dentistry, also known as dental medicine and oral medicine, is
                  the branch of medicine focused on the teeth, gums, and mouth.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="homepage-export-ready-inner1" id="stats">
        <div class="statistics-parent">
          <p class="statistics">Statistics</p>
          <div class="stats">
            <div class="parent">
              <p class="p7">30</p>
              <img class="frame-item" alt="" src="/static/public/line@2x.png" />
              <p class="services">Services</p>
            </div>
            <div class="parent">
              <p class="p7">75+</p>
              <img class="frame-item" alt="" src="/static/public/line1@2x.png" />
              <p class="services">Certified Doctors</p>
            </div>
            <div class="parent">
              <p class="p7">1000+</p>
              <img class="frame-item" alt="" src="/static/public/line1@2x.png" />
              <p class="services">Employees</p>
            </div>
            <div class="parent1">
              <p class="p7">15</p>
              <img class="frame-item" alt="" src="/static/public/line@2x.png" />
              <p class="services">
                <span class="professional">Affiliated </span
                ><span class="professional">Facilities</span>
              </p>
            </div>
          </div>
        </div>
      </section>
      <div class="emergency-service-parent">
        <div class="emergency-service">
          <div class="parent2">
            <div class="div5">1-800-600-380</div>
            <p class="work-hours">Emergency Service</p>
            <p class="call-on-this-container">
              <span class="professional">Call on this number to avail </span
              ><span class="professional">emergency services in case of </span
              ><span class="professional">fatal situations.</span>
            </p>
          </div>
        </div>
        <div class="opening-hours">
          <div class="book-appointment-child"></div>
          <button class="rectangle-parent">
            <div class="group-child"></div>
            <button class="book-now">Book Now!</button>
          </button>
          <div class="book-appointment6">
            <img
              class="edit-calendar-icon"
              alt=""
              src="/static/public/calendar@2x.png"
            />
            <p class="work-hours">Book Appointment</p>
            <div class="register-yourself-and-container">
              <p class="frequently">Register yourself and book your</p>
              <p class="frequently">appointment and save some precious</p>
              <p class="frequently">time.</p>
            </div>
          </div>
        </div>
        <div class="opening-hours">
          <div class="book-appointment-child"></div>
          <div class="clock-parent">
            <img
              class="edit-calendar-icon"
              alt=""
              src="/static/public/clock1@2x.png"
            />
            <p class="work-hours">Opening Hours</p>
            <div class="mon-thurs-container">
              <p class="frequently">Mon - Thurs 9:00 a.m. - 12:00 a.m.</p>
              <p class="frequently">Sat - Sun 9:00 a.m. - 12:00 a.m.</p>
            </div>
          </div>
          <button class="contact-us-wrapper">
            <button class="contact-us2">Contact Us!</button>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
