<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./MyProfileDesktopExportReady.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap"
    />
  </head>
  <body>
    <div class="my-profile-desktop-export-read">
      <div class="side-bar-container">
        <nav class="side-bar2">
          <div class="logo-container">
            <div class="logo3">
              <img class="icon4" alt="" src="./public/logo1@2x.png" /><a
                class="wecare3"
                >WeCare</a
              >
            </div>
            <div class="dashboard-group">
              <button class="dashboard2">Dashboard</button>
              <div class="profile-wrapper">
                <button class="profile1">Profile</button>
              </div>
              <button class="dashboard2">History</button
              ><button class="dashboard2">Book Appointment</button>
            </div>
          </div>
        </nav>
        <main class="main">
          <p class="my-profile">My Profile</p>
          <form class="main-form">
            <div class="form">
              <input
                class="username"
                type="text"
                placeholder="Name eg: John Doe"
                required
              /><input
                class="email1"
                type="email"
                placeholder="Email Id"
                required
              /><input
                class="phone-number1"
                type="number"
                placeholder="Phone Number"
                required
              /><input
                class="username"
                type="text"
                placeholder="Address Line 1"
                required
              /><input
                class="username"
                type="text"
                placeholder="Address Line 2"
                required
              />
              <div class="city-state">
                <input
                  class="city"
                  type="text"
                  placeholder="City"
                  required
                /><input
                  class="state"
                  type="text"
                  placeholder="State"
                  required
                />
              </div>
              <input
                class="blood-group"
                type="text"
                placeholder="Blood Group eg: A+ve"
                required
              />
            </div>
            <div class="buttons1">
              <button class="save1"><div class="save2">Save</div></button
              ><button class="book">
                <b class="save3">Book Appointment</b>
              </button>
            </div>
          </form>
        </main>
      </div>
    </div>
  </body>
</html>
